<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [3]:
# 入力用
import random

num = []
for i in range(5):
  s_num = random.randint(1, 280) * 10 + 2220000
  s_num1 = 'b' + str(s_num)
  num.append(s_num1)

num

['b2220530', 'b2221540', 'b2220930', 'b2220680', 'b2222510']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py
1つ目のリスト：[1, 2, 3, 4, 5]
2つ目のリスト：[1, 3, 5, 7, 9]
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [7]:
# 入力用

N = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list1 = []
list2 = []
ans = []

list1 = random.sample(N, 5)
list2 = random.sample(N, 5)

for i in range(5):
  ans_1 = list1[i] + list2[i]
  ans.append(ans_1)

print(list1)
print(list2)
print(ans)

[2, 8, 7, 9, 1]
[3, 8, 4, 1, 6]
[5, 16, 11, 10, 7]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [17]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県',
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県',
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県',
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県',
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]


これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞
``` py
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [18]:
# 入力用
ans_list = []
ans = []

for i in range(11):
  ans_list = random.sample(todohuken_list, 4)
  ans.append(ans_list)
  for j in range(4):
    todohuken_list.remove(ans_list[j])

ans.append(todohuken_list)

ans

[['宮崎県', '鹿児島県', '和歌山県', '高知県'],
 ['大分県', '奈良県', '福岡県', '大阪府'],
 ['千葉県', '山形県', '佐賀県', '静岡県'],
 ['徳島県', '岡山県', '広島県', '神奈川県'],
 ['岩手県', '三重県', '東京都', '群馬県'],
 ['京都府', '鳥取県', '熊本県', '沖縄県'],
 ['福島県', '北海道', '滋賀県', '山口県'],
 ['新潟県', '愛知県', '福井県', '山梨県'],
 ['石川県', '岐阜県', '兵庫県', '富山県'],
 ['宮城県', '青森県', '栃木県', '愛媛県'],
 ['香川県', '島根県', '長野県', '埼玉県'],
 ['秋田県', '茨城県', '長崎県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [19]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [24]:
# 入力用
ans = []

ans = sorted(university_list, key=lambda x: int(x.split(',')[1]))
ans

['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞
``` py
FizzBuzzの数：6
Fizzの数：27
Buzzの数：14
othersの数：53
```

In [26]:
# 入力用
N = range(100)
ans = []
FB = 0
F = 0
B = 0
O = 0

for i in N:
  if N[i]%3==0 and N[i]%5==0:
    FB = FB + 1
  elif N[i]%3==0:
    F = F + 1
  elif N[i]%5==0:
    B = B + 1
  else:
    O = O + 1

print(FB, F, B, O)

7 27 13 53