<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_5_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第5章 課題

## 課題1

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、そのリストから重複する要素を削除した新しいリストと、
共通の要素を持つ新しいリストを出力してください

＜実行結果例＞
``` py
1つ目のリスト：[1, 2, 3, 4, 5]
2つ目のリスト：[1, 3, 5, 7, 9]
重複削除リスト：[1, 2, 3, 4, 5, 7, 9]
共通要素リスト：[1, 3, 5]
```

＜ヒント＞ set関数を用いても用いなくても答えは出せます。

In [5]:
# 入力用

import random

N = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list1 = []
list2 = []
ans_1 = []
ans_2 = []

list1 = random.sample(N, 5)
list2 = random.sample(N, 5)

for i in range(5):
  ans_1.append(list1[i])

for j in range(5):
  if list2[j] not in ans_1:
    ans_1.append(list2[j])

for i in range(5):
  for j in range(5):
    if list1[i] == list2[j]:
      ans_2.append(list2[j])

ans_1.sort()
ans_2.sort()

print(list1)
print(list2)
print(ans_1)
print(ans_2)

[4, 2, 9, 3, 5]
[4, 7, 9, 8, 2]
[2, 3, 4, 5, 7, 8, 9]
[2, 4, 9]

## 課題2

共通のキーを持つ辞書を要素とするリストから、特定のキーの値のリストを取得してみます。

以下のリストから、都道府県コード・都道府県・県庁所在地それぞれのリストを作成してください

キーが存在しないところがある点に注意してください

In [6]:
todohuken_data = [{"コード": 24, "都道府県": "三重", "県庁所在地": "津"},
                  {"コード": 25, "都道府県": "滋賀", "県庁所在地": "大津"},
                  {"コード": 31, "都道府県": "鳥取"},
                  {"コード": 32, "都道府県": "島根", "県庁所在地": "松江"},
                  {"コード": 37, "都道府県": "香川", "県庁所在地": "高松"},
                  {"コード": 38, "都道府県": "愛媛", "県庁所在地": "松山"},]

＜出力結果例＞
``` py
[24, 25, 31, 32, 37, 38]
['三重', '滋賀', '鳥取', '島根', '香川', '愛媛']
['津', '大津', None, '松江', '高松', '松山']
```

In [11]:
# 入力用

code = []
prefectures = []
capital = []

code = [i.get('コード') for i in todohuken_data]
prefectures = [i.get('都道府県') for i in todohuken_data]
capital = [i.get('県庁所在地') for i in todohuken_data]

print(code)
print(prefectures)
print(capital)

[24, 25, 31, 32, 37, 38]
['三重', '滋賀', '鳥取', '島根', '香川', '愛媛']
['津', '大津', None, '松江', '高松', '松山']

## 課題3

ある文字列が与えられた場合、文字列内の各文字の出現回数をディクショナリの形で返してください

大文字と小文字は区別してください
また、出力時はアルファベット順にソートした状態にしてください

＜実行結果例＞　「Hello, World!」の各文字のカウント
``` py
{'H': 1, 'W': 1, 'd': 1, 'e': 1, 'l': 3, 'o': 2, 'r': 1}
```

In [16]:
# 入力用

import collections

string = "mathematics"
ans = {}

# アルファベット以外の文字を削除 最初に実行してください
string = ''.join(c for c in string if c.isalpha())

ans = collections.Counter(string)
ans = sorted(ans.items())
ans = dict((x, y) for x, y in ans)

ans

{'a': 2, 'c': 1, 'e': 1, 'h': 1, 'i': 1, 'm': 2, 's': 1, 't': 2}

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたディクショナリ `university_dic` があります。

In [17]:
university_dic = {
    "Chitose" : 25,
    "Hokudai" : 105,
    "Muroran" : 74,
    "Hakodate": 23,
}

このリストを、年齢順にソートして、新たなディクショナリとして出力してください

＜実行結果＞
``` py
{'Hakodate': 23, 'Chitose': 25, 'Muroran': 74, 'Hokudai': 105}
```

In [19]:
# 入力用

ans = {}

ans = sorted(university_dic.items(), key=lambda x:x[1])
ans = dict((x, y) for x, y in ans)

ans

{'Hakodate': 23, 'Chitose': 25, 'Muroran': 74, 'Hokudai': 105}

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合はFizzを出力
* 5で割り切れる数字の場合はBuzzを出力
* 7で割り切れる数字の場合はJazzを出力
* 複数条件が当てはまる場合は組み合わせて出力（ "FizzBuzz", "FizzJazz", "BuzzJazz" など）

ここでは N=100として、まずは一つのリストに
"Fizz" か "Buzz" か "Jazz" か "組み合わさったもの" か "others" を格納してください。

その後、それぞれの要素の数をカウントし、ディクショナリの形で出力してください。

＜実行結果例＞
``` py
{'Fizz': 23, 'Buzz': 12, 'Jazz': 8, 'FizzBuzz': 6, 'FizzJazz': 4, 'BuzzJazz': 2, 'others': 45}
```

In [21]:
# 入力用

N = range(100)

FizzBazz = []
FizzJazz = []
BazzJazz = []
Fizz = []
Bazz = []
Jazz = []
Others = []
ans = {}


for i in N:
  if i % 3 == 0 and i % 5 == 0:
    FizzBazz.append(i)
  elif i % 3 == 0 and i % 7 == 0:
    FizzJazz.append(i)
  elif i % 5 == 0 and i % 7 == 0:
    BazzJazz.append(i)
  elif i % 3 == 0:
    Fizz.append(i)
  elif i % 5 == 0:
    Bazz.append(i)
  elif i % 7 == 0:
    Jazz.append(i)
  else:
    Others.append(i)

ans = {'FizzBazz':len(FizzBazz), 'FizzJazz':len(FizzJazz), 'BazzJazz':len(BazzJazz), 'Fizz':len(Fizz), 'Bazz':len(Bazz), 'Jazz':len(Jazz), 'Others':len(Others)}

ans

{'FizzBazz': 7,
 'FizzJazz': 4,
 'BazzJazz': 2,
 'Fizz': 23,
 'Bazz': 11,
 'Jazz': 8,
 'Others': 45}